<div class="full-height">
  <%= react_component("Navbar", { account: current_account }) %>

  <div class="flex-fill">
    <div class="content">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <%= image_tag resource.avatar.medium.url, class: "avatar" %>

        <div class="field centered">
            <%= f.file_field :avatar %>
            <%= f.hidden_field :avatar_cache %>
        </div>

        <div class="field">
          <%= f.text_field :username, autofocus: true, placeholder: "Username", class: "form-control" %>
        </div>
        
        <div class="field">
          <%= f.text_field :name, placeholder: "Full Name", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "New password (leave blank for no change)", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm new password", class: "form-control" %>
        </div>

        <div class="field">
          <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current password", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Update", class: "button button-full" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
