<div class="wrapper">
  <div class="content">
    <%= link_to root_path do %>
      <img class="logo" src="<%= asset_path("logo.svg") %>" />
    <% end %>
    
    <h2>Log in to your account</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.text_field :login, autofocus: true, autocomplete: "login", placeholder: "Email or username", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "button button-full" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>